:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --extra-text-color: #757575;
  --button-bg-color: #f5f4fa;
  --focus-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --hero-footer-bg-color: #2f303a;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
